body {
  height: 100%;
}


.message-list {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 900px;
  height: 400px;
  overflow-y: auto;
  padding-right: 20px;
}

.channel-title {
  text-indent: 22px;
  font-weight: bold;
  font-family: Verdana;
  font-size: 1.2em;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}

.author {
  font-family: Verdana;
  font-size: 1.1em;
  font-weight: bold;
  color: blue;
  padding: 5px;
  margin: 20px;
  margin-bottom: 3px;
}

.time {
  font-family: Trebuchet;
  font-size: 0.8em;
  font-style: italic;
  font-weight: bold;
  color: grey
}

.content {
  font-family: Arial;
  font-size: 1em;
  padding: 5px;
  margin: 20px;
  margin-top: 3px;
}

.form {
  width: 700px;
  height: 192px;
  margin-left: 27px;
  padding-top: 40px;
}

form {
  padding: 10px;
  margin: 15px;
  width: 900px;
}

input[type="text"] {
  width: 720px;
  height: 35px;
}

.button {
  height: 35px;
  background-color: red;
  color: white;
  padding: 4px 20px;
  border: none;
  font-size: 1em;
  cursor: pointer;
  font-family: Verdana;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

.channels {
  width: 400px;
  background-color: rgb(245, 242, 242);
  padding-left: 20px;
  margin-bottom: 0px;
}

.title {
  font-weight: bold;
  font-family: Verdana;
  font-size: 1.5em;
  margin-bottom: 30px;
  padding-top: 20px;
}

.channels-list {
  font-family: Verdana;
  font-size: 1.1em;
  color: grey;
  cursor: pointer;
}

.channels-list.active {
  font-weight: bold;
}

.first {
  width: 70px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: auto;
  background-color: rgb(195, 188, 188);
}
