.message-list {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 900px;
  height: 400px;
  overflow-y: auto;
}

.author {
  font-family: Verdana;
  font-size: 1.1em;
  font-weight: bold;
  color: blue;
  padding: 5px;
  margin: 20px;
  margin-bottom: 3px;
}

.time {
  font-family: Trebuchet;
  font-size: 0.8em;
  font-style: italic;
  font-weight: bold;
  color: grey
}

.content {
  font-family: Arial;
  font-size: 1em;
  padding: 5px;
  margin: 20px;
  margin-top: 3px;
}

.form {
  width: 700px;
  height: 300px
}

form {
  padding: 10px;
  margin: 15px;
}

input[type="text"] {
  width: 540px;
}

.button {
  background-color: red;
  color: white;
  padding: 4px 20px;
  border: none;
  font-size: 1em;
  cursor: pointer;
  font-family: Verdana;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: row;
}

.channels {
  width: 400px;
  background-color: rgb(245, 242, 242);
  padding-left: 20px;
}

.title {
  font-weight: bold;
  font-family: Verdana;
  font-size: 1.5em;
  margin-bottom: 30px;
}

.channels-list {
  font-family: Verdana;
  font-size: 1.1em;
  color: grey;
}

.active {
  font-family: Verdana;
  font-size: 1.1em;
  font-weight: bold;
}
